@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");

header {
  border: 2px solid black;
  font-size: 2vh;
  text-align: center;
}

ul li a {
  color: black;
  text-decoration: none;
}

ul li a:visited {
  color: black;
  text-decoration: none;
}

ul li a:hover {
  padding-bottom: 7px;
  border-bottom: 3px solid black;
}

ul li {
  list-style-type: none;
  margin: 5%;
  padding: 0;
  display: inline;
  font-size: 200%;
}

h1 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.intro-text {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  text-align: center;
}

.flex-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
}

.main-images {
  width: 40vw;
  height: 45vh;
  animation: image-animation 2s;
}

.second-images {
  width: 25vw;
  height: 45vh;
}

@keyframes image-animation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.img-container {
  width: 40vw;
  position: relative;
  animation: text-animation 2s;
}

.img-text {
  font-size: 2vh;
  position: absolute;
  bottom: 2vw;
  right: 2vw;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding-left: 2em;
  padding-right: 2em;
  font-family: "Luxurious Roman", cursive;
  animation: text-animation 2s;
}

.img-text:hover {
}

@keyframes text-animation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

footer {
  border: 2px solid black;
}

.footer-text {
  text-align: center;
}

.forms {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }
  .main-images {
    width: 95vw;
    height: 40vh;
  }
}
