* {
  box-sizing: border-box;
}

header {
  border: 2px solid black;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  padding-bottom: 7px;
  border-bottom: 3px solid black;
}

ul li {
  list-style-type: none;
  margin-left: 10.5%;
  padding: 0;
  display: inline;
  font-size: 200%;
}

.flex-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

img {
  display: flex;
  flex: 40%;
  margin: 5%;
  width: auto;
}

.image-container {
  position: relative;
  width: auto;
}

.image-container img {
  width: auto;
  height: auto;
}

.image-container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
}

h2 {
}

footer {
  border: 2px solid black;
}

.footer-text {
  text-align: center;
}
